html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F2F2F2 !important
}

button {
    background-color: #800000 !important; /* Red */
}

button:disabled {
    cursor: progress;
}

.container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    position: relative;
    height: auto;
    font-size: 16px;
    font-weight: 400;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form {
    font-weight: 400;
}
.form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form .form-control:focus {
    z-index: 2;
}
.form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.banner {
    max-width: 550px;
    min-width: 300px;
}